header {
  align-items: center;
  color: var(--zinc-200);
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 12%;
}

nav ul li {
  background-color: var(--zinc-800);
  border-radius: 0.25rem;
  height: 2rem;
  padding: 0.5rem;
  width: 2rem;
}

nav svg {
  height: 1rem;
  stroke: var(--zinc-500);
  width: 1rem;
}

.title > h1 {
  margin: 0;
}

.title > p {
  color: var(--zinc-400);
}
