:root {
  --amber-500: #f59e0b;
  --amber-500-10: rgba(245, 158, 11, 0.1);
  --cian-500: #06b6d4;
  --cian-500-10: rgba(6, 182, 212, 0.1);
  --font-principal: "Inter", sans-serif;
  --lime-500: #84cc16;
  --lime-500-10: rgba(132, 204, 22, 0.1);
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--zinc-900);
  display: flex;
  flex-direction: column;
  font-family: var(--font-principal);
  justify-content: center;
  padding: 2.5rem 0;
}

li {
  list-style: none;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

main > div:first-child {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 0 0;
  width: 80%;
}

section {
  border: 1px solid var(--zinc-800);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  width: 48%;
}

section > div:first-child {
  align-items: center;
  border-bottom: 1px solid var(--zinc-800);
  display: flex;
  justify-content: space-between;
  padding: 0 0 1.5rem 0;
}

section h2,
section h3 {
  color: var(--zinc-400);
}

section p {
  color: var(--zinc-500);
}

.emoji {
  background-color: var(--zinc-800);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  height: 2.5rem;
  padding: 0.5rem;
  text-align: center;
  width: 2.5rem;
}
