/* Normalize.css - Reset default browser styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  background-image: none;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: none;
}

input,
button,
select,
textarea {
  font: inherit;
}

textarea {
  overflow: auto;
  resize: vertical;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --background-color: #18181b;
  --toogle-theme-button-background-color: #27272a;
  --toogle-theme-button-border: none;
  --section-border: 1px solid #a1a1aa;
  --text-color: #e4e4e7;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --background-color: #fafafa;
  --toogle-theme-button-background-color: #f4f4f5;
  --toogle-theme-button-border: 1px solid #a1a1aa;
  --text-color: #27272a;
  --link-color: #646cff;
  --link-hover-color: #747bff;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
